# Dim direnv status messages
export DIRENV_LOG_FORMAT=$'\033[2mdirenv: %s\033[0m'

# Fix for just recipes with shebangs on WSL2
export XDG_RUNTIME_DIR=/tmp

# Also rebuild if other local flake inputs change
watch_file nix/*

# Use flake
use flake
